<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mukesh.demolock">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NextActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name=".Main"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" >
                </action>
                <action android:name="android.intent.action.SCREEN_ON" >
                </action>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" >
                </action>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" >
                </action>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" >
                </action>
            </intent-filter>


        </receiver>
    </application>

</manifest>